
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by " />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="css/cs-select.css">
	<link rel="stylesheet" href="css/cs-skin-border.css">
	
	<link rel="stylesheet" href="css/style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="index"><i class="icon-airplane"></i>FlightGo</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="index">Home</a></li>
							<li class="active"><a href="register">Register</a></li>
							<li><a href="login">Log In</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
	
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_3.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-sm-15 col-md-15">
								<!-- <a href="index.html" id="main-logo">Travel</a> -->
								<div class="tabulation animate-box">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#Customer" aria-controls="Customer" role="tab" data-toggle="tab">Customer Register</a>
								      </li>
								      <li role="presentation">
								    	   <a href="#Agent" aria-controls="Agent" role="tab" data-toggle="tab">Agent Register</a>
								      </li>
								      <li role="presentation">
								    	   <a href="#Staff" aria-controls="Staff" role="tab" data-toggle="tab">Staff Register</a>
								      </li>
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
									 <div role="tabpanel" class="tab-pane active" id="Customer">
										<form action="/CustomerRegisterAuth" method="POST">
											<div class="row">
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Email</label>
														<input type="text" class="form-control" name = "email" placeholder="cw2982@nyu.edu" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Name</label>
														<input type="text" class="form-control" name = "name" placeholder="Gladys" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Password</label>
														<input type="text" class="form-control" name = "password" placeholder="Password" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Building Number</label>
														<input type="text" class="form-control" name = "building_number" placeholder="1555" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Street</label>
														<input type="text" class="form-control" name = "street" placeholder="Century Avenue" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">City</label>
														<input type="text" class="form-control" name = "city" placeholder="Shanghai" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">State</label>
														<input type="text" class="form-control" name = "state" placeholder="China" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Phone Number</label>
														<input type="number" class="form-control" name = "phone_number" placeholder="20599999" aria-describedby="basic-addon1" maxlength="11" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Passport Number</label>
														<input type="text" class="form-control"  name = "passport_number" placeholder="CS1234567" aria-describedby="basic-addon1" required/>
													</div>
												</div>



												
												<div class="col-xxs-12 col-xs-12 mt alternate">
													<div class="input-field">
														<label for="date-start">Passport Expiration Date</label>
														<input type="date" class="form-control" id="datepicker" name="passport_expiration" placeholder="mm/dd/yyyy"/>
													</div>
												</div>




												<div class="col-xxs-12 col-xs-12 mt">
													<div class="input-field">
														<label for="from">Passport Country</label>
														<input type="text" class="form-control" name = "passport_country" placeholder="China" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xxs-12 col-xs-12 mt alternate">
													<div class="input-field">
														<label for="date-end">Date of Birth</label>
														<input type="date" class="form-control" id="datepicker" name = "date_of_birth" placeholder="mm/dd/yyyy" aria-describedby="basic-addon1" required/>
													</div>
												</div>
												<div class="col-xs-12">
													<input type="submit" class="btn btn-primary btn-block" value="Register">
												</div>
											</div>
										</form>









									 </div>


									 <div role="tabpanel" class="tab-pane fade" id="Agent">
									 <form action="/AgentRegisterAuth" method="POST">
										<div class="row">
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Email</label>
													<input type="text" class="form-control" name = "email" placeholder="cw2982@nyu.edu" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Password</label>
													<input type="text" class="form-control" name = "password" placeholder="Password" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Booking Agent ID</label>
													<input type="int" class="form-control" name = "booking_agent_id" placeholder="20599999" aria-describedby="basic-addon1" maxlength="9" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^19]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
													onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-19]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required/>
												</div>
											</div>
											<div class="col-xs-12">
												<input type="submit" class="btn btn-primary btn-block" value="Register">
											</div>
										</div>
									</form>
									 </div>

									
									 <div role="tabpanel" class="tab-pane" id="Staff">
									 <form action="/AirlineStaffRegisterAuth" method="POST">
									 	<div class="row">
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Username</label>
													<input type="text" class="form-control" name = "username" placeholder="KyungA" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Password</label>
													<input type="text" class="form-control" name = "password" placeholder="Password" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">First Name</label>
													<input type="text" class="form-control" name = "first_name" placeholder="Chengxi" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Last Name</label>
													<input type="text" class="form-control" name = "last_name" placeholder="Wang" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt alternate">
												<div class="input-field">
													<label for="date-end">Date of Birth</label>
													<input type="date" class="form-control" name = "date_of_birth" placeholder="mm/dd/yyyy" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-12 mt">
												<div class="input-field">
													<label for="from">Airline Name</label>
													<input type="text" class="form-control" name = "airline_name" placeholder="China Eastern" aria-describedby="basic-addon1" required/>
												</div>
											</div>
											
											<div class="col-xs-12">
												<input type="submit" class="btn btn-primary btn-block" value="Register">
											</div>
										</div>
										</form>
									 </div>
									</div>

								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if Success %}
	<script>
		alert("Successfully register!");
	</script>
	{% endif %}
	{% if error %}
	<script>
		alert("Register Failed!");
	</script>
	{% endif %}
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright &copy; 2021. Yumo & Chengxi All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/sticky.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="js/classie.js"></script>
	<script src="js/selectFx.js"></script>
	
	<!-- Main JS -->
	<script src="js/main.js"></script>

	</body>
</html>

